.pets-wrapper nav {
  margin: 0 25px;
}

.pets-wrapper nav ul {
  list-style: none;
  padding: 0;
}

.pets-wrapper nav ul li a {
  background: var(--primary);
  color: white;
  border: 1px solid var(--primary);
  display: block;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.pets-wrapper nav ul li a:hover {
  background: var(--white);
  color: var(--black);
}
